Ignored
.RData
.Rhistory

R scripts/.Rhistory

*.log

*.log

R scripts/SweaveTorfinn/newsweave.log

*.log

*.pdf

*.gz

*.pdf

*.log

*.out

*.log

*.tex

R scripts/SweaveTorfinn/sweave_document_TB.out

R scripts/SweaveTorfinn/sweave_document_TB.aux

R scripts/SweaveTorfinn/sweave_document_TB-funnelplot.pdf

R scripts/SweaveTorfinn/sweave_document_TB-Diagnostics.pdf

R scripts/SweaveTorfinn/sweave_document_TB-concordance.tex

R scripts/SweaveTorfinn/sweave_document_TB.log

R scripts/SweaveTorfinn/sweave_document_TB.pdf

R scripts/SweaveTorfinn/sweave_document_TB-1.synctex

R scripts/SweaveTorfinn/sweave_document_TB.synctex

R scripts/SweaveTorfinn/sweave_document_TB.synctex.gz

R scripts/SweaveTorfinn/sweave_document_TB.tex
