Ignored
.RData
.Rhistory

R scripts/.Rhistory

*.log

*.log

R scripts/SweaveTorfinn/newsweave.log

*.log

*.pdf

*.gz

*.pdf

*.log

*.out

*.log

*.tex

R scripts/SweaveTorfinn/sweave_document_TB.out

R scripts/SweaveTorfinn/sweave_document_TB.aux

R scripts/SweaveTorfinn/sweave_document_TB-funnelplot.pdf

R scripts/SweaveTorfinn/sweave_document_TB-Diagnostics.pdf
