/Users/Torfinn/Documents/Uni Freiburg/Best Practice R/Meta-Analysis/R scripts/R code meta analysis.R
/Users/Torfinn/Documents/Uni Freiburg/Best Practice R/Meta-Analysis/R scripts/R script gibson CW.R
/Users/Torfinn/Documents/Uni Freiburg/Best Practice R/Meta-Analysis/R scripts/R script gibson TB.R
